* {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body
{
    margin: 0%;
    display: flex;
    flex-wrap:wrap;
    background-color: #111;
}

/* main hdng styling */


.main-div
{
  display: flex;
    flex-wrap: wrap;
}

.main-hdng
{
  height:156px;
    border: 1px solid blue;
    padding-top: 20px;
}

.bg-hdng
{
  color: #8e8a8a;
  font-weight: 1000;
  font-size: 147px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-stretch: extra-expanded;
  text-align: center;
  /* width: 241px; */
  /* border: 1px solid white; */
  opacity: 0.2;
  margin-left:64px;
  margin-top: -27px;
}
#title-about {
  color: white;
  font-weight: 900;
  font-size: 93px;
  margin-top: -148px;
  margin-left: 389px;
  position: relative;
  z-index: 3;

}

#me {
  color: yellow;
  font-size: 105px;
  font-weight: 900;
  position: relative;
  top: -140px;
  left: 713px;
  letter-spacing: -6px;




}



/* Side bar Styling */

/* Sidebar css */

.sidebar
{
   
    position: fixed;
    border: 1px solid blue;
    height: 701px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:transparent;
 margin-left: 91%;
}

.link-btns {
 
    cursor: pointer;
    font-size: 18px;
    position: relative;
    background-color: black;
    color: #fff;
    padding: 4px;
    padding-top: 25px;
    width: 81px;
    height: 79px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 50%;
    border: 1px solid black;
    font-weight: bold;
border:2px solid yellow;
}


.link-btns:hover {
  background: black;
    box-shadow: 0px -1px 8px 5px rgb(205, 205, 0);
    color: white;
}

.link-btns:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  /* margin-top: -120%; */
  opacity: 0;
  transition: all 0.8s
}

.link-btns:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.link-btns:focus { outline:0; }






.fa-house , .fa-user , .fa-briefcase , .fa-envelope-open , .fa-comments 
{
    font-size: 23px;
    font-weight: 800;
}


 .bulbon {
    display: none;
    font-size: 23px;
    font-weight: 800;
  }
  .bulbof {
    display: block;
    font-size: 23px;
  }




/*Central Page CSS */


.contact-main-div
{
  height: auto;
  border: 1px solid yellow;
display: flex;
margin-top: 0px;
}

.details-div
{
 height: 78vh;
  border: 1px solid orange;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.details-div p:nth-child(2)
{
  
  color: white;
  font-weight: 400;
  font-size: 18px;
  width: 61vh;
  margin-left: 6px;
  margin-top: 8px;
}

#shy-txt
{
 
  color: white;
  font-weight: 700;
  font-size: 34px;
  margin-left: 0px;
  text-align: center;
}

.icons
{
  color: yellow;
  font-size: 37px;
}

.details-hdng
{
  color: #d3cccc;
  font-weight: 500;
  font-size: 20px;
  padding-left: 4px;
}

.details-txt
{
  font-weight:100;
  font-size: 18px;
  color: white;
}


.cont-form-div
{ 
  
  height: 78vh;
  padding-left: 41px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid blue;


}


#username , #useremail{
 
    height: 45px;
    background-color: #343333;
    border: 1px solid #343333;
    border-radius: 42px;
    margin-left: -100px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    padding-left: 14px;
    display: inline-block;
}

#username:focus , #useremail:focus , #usersubject:focus , textarea:focus
{
  border: none;
  outline: none;
}

#usersubject
{
 
  
  width: 633px;
  height: 43px;
  background-color: #343333;
  border: 1px solid #343333;
  border-radius: 42px;
  margin-left: 2px;
  margin-top: 0px;
  color: white;
  font-size: 18px;
  padding-left: 14px;
}




#username::placeholder , #useremail::placeholder , #usersubject::placeholder , textarea::placeholder
{
  color: #8e8a8a;
  
}


textarea
{
 
  font-size: 18px;
  background-color: #343333;
  padding: 15px;
  margin-left: 0px;
  margin-top: 0px;
  border: 1px solid #383333;
  border-radius: 41px;
  width: 646px;
  color: white;
}


/* Submit Button Css */

.submit-btn{
  margin-left: 147px;
  padding-top: 14px;
  width: 203px;
  height: 62px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  margin-top: -2px;
  font-size: 27px;
  font-weight: 700;
  border-radius: 0px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #2f2f2f;
}

.check-box{
 padding-right: 7px;
  margin-right: 2px;
  width: 60px;
  height: 66px;
  border-radius: 0px;
  box-shadow: -4px 4px 12px 4px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
  background-color: yellow;
}

.check-box svg{
  width: 40px;
  margin-top: 2vh;
  margin-left: 1vh;
}

svg path{
  
  stroke-width: 6px;
  stroke: black;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}

.active{
  background: yellow;
  transition: 1400ms;
}

.active .check-box{
  right: 0;
  opacity: 1;
  transition: 1300ms;
}

.active #btnText{
  margin-right: 62px;
  transition: 1s;
  color: black;
  font-weight: 400;
  font-size: 27px;
}

.active svg path{
  stroke-dashoffset: 0;
  transition: 2s;
  transition-delay: 1900ms;
}

.submit-btn:hover
{
  border: 2px solid yellow;
  color: yellow;
  transition : 500ms ease
}


/* social links css */


.socials {
  opacity: 0;
  font-size: 28px;
  color: #1F1E1E;
  will-change: transform;
  -webkit-transform: scale(.1);
          transform: scale(.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 29vh;
  height: 9vh;
  background-color: #EEEEED;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  left: 113px;
  top: 2px;
}

.btn_wrap:hover {
  /* transition-delay: .4s; */
  -webkit-transform: scale(1.1);
          transform: scale(1.1)
}

.btn_wrap #share {
 
  position: absolute;
  z-index: 99;
  width: 29vh;
  height: 9vh;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 25px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  color: #EEEEED;
  background-color: #1F1E1E;
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
 
}

.icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29vh;
  height: 9vh;
  border-radius: 80px;
}

.icons-div i:nth-of-type(1) {
          -webkit-transition-delay: 1.1s;
                  transition-delay: 1.1s;
}

.icons-div i:nth-of-type(2) {
          -webkit-transition-delay: .9s;
                  transition-delay: .9s;
}

.icons-div i:nth-of-type(3) {
          -webkit-transition-delay: .7s;
                  transition-delay: .7s;
}

.icons-div i:nth-of-type(4) {
          -webkit-transition-delay: .4s;
                  transition-delay: .4s;
}

.btn_wrap:hover #share {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transform: translateX(-280px);
          transform: translateX(-280px)
}

.btn_wrap:hover .socials {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}







/* media queries */


@media only screen and (min-width: 320px) and (max-width: 767px) 
{





.bg-hdng
{
  font-weight: 1000;
    font-size: 5em;
    letter-spacing: 9px;
    /* width: 241px; */
    /* border: 1px solid white; */
    opacity: 0.2;
    padding-left: 1vh;
    margin-left: 0vh;
    margin-top: 0vh;
}

#title-about {
  color: white;
  font-weight: 400;
  font-size: 55px;
  margin-top: -13vh;
  margin-left: 4vh;
  position: relative;
  z-index: 3;
}
#me {
  font-size: 55px;
  font-weight: 400;
  position: relative;
  top: -12.4vh;
  left: 27.9vh;
  letter-spacing: -1px;

}
#shy-txt {
 
  font-weight: 600;
  font-size: 5vh;
  margin-left: 1vh;
  text-align: start;
}

.details-div
{
  width: 300px;
  height: 97vh;
  border: 1px solid orange;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.details-div p:nth-child(2) {
color: white;
    font-weight: 300;
    font-size: 18px;
    margin-left: 0vh;
    margin-top: 1vh;
max-width: 320px;
padding-left: 2vh;
  }

 


 .contact-main-div{ 
  height: auto;
  border: 1px solid yellow;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
 }


.details-txt
{
  
  max-width: 320px;
  font-weight: 100;
  font-size: 18px;
  color: white;
}



.btn_wrap
{
  
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 29vh;
  height: 9vh;
  background-color: #EEEEED;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  left: 10vh;
  top: 0vh;
}







}



}
